.h5 {
  margin-top: 0.5rem;
}

i {
  font-size: 2rem;
}

.bi-question-circle-fill {
  flex-grow: auto;
  font-size: 2rem;
}

.card-title-top > i {
  font-size: 2rem;
}

.bi-check-circle-fill {
  font-size: 2rem;
  color: green;
}

.bi-emoji-frown-fill {
  font-size: 2rem;
  color: red;
}

.bi-grip-vertical {
  font-size: 2rem;
}

.button-reset {
  margin: 1rem;
}

.card {
  padding: 1rem;
}

.card-body > div {
  flex-wrap: nowrap;
}

.check-mark {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-mark > i {
  font-size: 2rem;
}

.row {
  justify-content: center;
}

.answers-result {
  justify-content: space-between;
}
